{% load static%}
<html>
    <link rel="stylesheet" href="{% static 'global.css' %}">      
<body>
    <section id="section_contact">
        <i><img src="/static/img/facebook.png" alt="">Facebook</i>
        <i><img src="/static/img/instagram.png"" alt="">Instagram</i>
        <i><img src="/static/img/gorjeo.png"" alt="">X</i>
        <i><img src="/static/img/gmail.png"" alt="">Gmail</i>
    </section>
    <p>
        Gracias por visitar mi portafolio es un honor mostrar lo aprendido hasta ahora.
    </p>
    <a class="router_backt" href="/backSkills">⬅Regresar</a>
</body>
</html>