{% load static%}
<html>
<head>
    <meta http-equiv="refresh" content="60">
    <link rel="stylesheet" href="{% static 'global.css' %}">  

</head>
<body>
<div class="studies">
    <ol>
        <li>Intitución Educativa José Rámon Bejarano</li>
        <ol>
            <li>Estudios de primaria.</li>
            <li>Estudios de secundaria.</li>
        </ol>
        <li>Universidad del Pacífico</li>
        <ol>
            <li>
                Estudios de pregrado en Ingenieria de sistemas.
            </li>
        </ol>
    </ol>
</div>
<a class="router" href="/skills">Exploremos juntos➡</a>
<a class="router_backt" href="/backinformacionpersonal">⬅Regresar</a>
</body>
</html>
