{% load static%}
<html>
<head>
    <meta http-equiv="refresh" content="60">
    <link rel="stylesheet" href="{% static 'global.css' %}">   
</head>
<body>
    <section id="section_init">
        <aside id="presentation">
            <h1>Francisco Vanegas Ibarguen</h1>
            <h1>Ingeniero de sistemas</h1>
            <h1>Universidad del pacifico</h1>
        </aside>
        <img src="/static/img/Fran.jpeg" alt="">
        <img class="shadow" src="/static/img/Fran.jpeg" alt="">
    </section>
    <a class="router" href="/education">Exploremos juntos➡</a>
    <a class="router_backt" href="/backtpresentation">⬅Regresar</a>
</body>
</html>